<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./assets/invoice.css" media="all">
  </head>
  <body>
    <header class="invoice-head">
      <div class="invoice-head__topline">
        From the desk of Jason Howmans. Invoice #{{number}}. Created {{date}}
      </div>
      <h1 class="invoice-title">{{title}}</h1>
    </header>

    <div class="invoice-from-to">
      <div class="invoice-from">
        <h3>From</h3>
        <p class="invoice-from-name">{{payee.name}}</p>
        <p class="invoice-from-email">{{payee.email}}</p>
      </div>
      <div class="invoice-to">
        <h3>To</h3>
        <p class="invoice-to-name">{{payer.name}}</p>
        <p class="invoice-to-email">{{payer.email}}</p>
      </div>
    </div>

    <div class="invoice-body">
      <table class="invoice-table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Cost</th>
          </tr>
        </thead>
        {{#work}}
          <tr>
            <td>{{task}}</td>
            <td>{{currency}}{{cost}}</td>
          </tr>
        {{/work}}
        <tfoot>
          <tr>
            <td>Total</td>
            <td>{{currency}}{{totalcost}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    {{#payment}}
      <h3>Payment Details</h3>
      <dl class="invoice-payment">
        <dt>Bank</dt>
        <dd>{{payment.bank}}</dd>
        <dt>Payee Name</dt>
        <dd>{{payment.name}}</dd>
        <dt>Sort Code</dt>
        <dd>{{payment.sortcode}}</dd>
        <dt>Account Number</dt>
        <dd>{{payment.accountno}}</dd>
      </dl>
    {{/payment}}
    {{#terms}}
      <div class="invoice-terms">{{terms}}</div>
    {{/terms}}

    <footer class="invoice-foot">
      For questions or comments, email me on <a href="mailto:jason@nosaj.io?subject=About Estimate #{{number}}">jason@nosaj.io</a>.
    </footer>
  </body>
</html>
