<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./assets/invoice.css" media="all">
  </head>
  <body>
    <header class="invoice-head">
      <h1 class="invoice-title">Invoice <span class="invoice-id">#122</span></h1>
      <h2 class="invoice-subtitle">Jul 8, 2016</h2>
    </header>

    <div class="invoice-from-to">
      <div class="invoice-from">
        <h3>From</h3>
        <p class="invoice-from-name">Jason Howmans</p>
        <p class="invoice-from-email">jason@nosaj.io</p>
      </div>
      <div class="invoice-to">
        <h3>To</h3>
        <p class="invoice-to-name">Some Bloke</p>
        <p class="invoice-to-email">bloke@graft.co</p>
      </div>
    </div>

    <div class="invoice-body">
      <table class="invoice-table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Cost</th>
          </tr>
        </thead>
          <tr>
            <td>Make sparkles</td>
            <td>&pound;10.00</td>
          </tr>
          <tr>
            <td>Bear Grooming (2 days)</td>
            <td>&pound;400.30</td>
          </tr>
          <tr>
            <td>Debrief (30 mins)</td>
            <td>&pound;0.95</td>
          </tr>
        <tfoot>
          <tr>
            <td>Total</td>
            <td>&pound;411.25</td>
          </tr>
        </tfoot>
      </table>
    </div>
      <h3>Payment Details</h3>
      <dl class="invoice-payment">
        <dt>Bank</dt>
        <dd>PiggyBank co</dd>
        <dt>Payee Name</dt>
        <dd>MR JASON HOWMANS</dd>
        <dt>Sort Code</dt>
        <dd>123421</dd>
        <dt>Account Number</dt>
        <dd>12345678</dd>
      </dl>
  </body>
</html>
