/**
 *
 * Colours:
 *  Grey => #8b8b8b
 *  Blue => #2e2ef9
 *
 */

:root {
  font: 17px/1.5 'Space Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  position: relative;
  overflow: auto;
  zoom: 1;
}

h1, h2, h3, h4, p { margin: 0; }


.nosaj-logo {
  width: 50px;
  /* height = width x 0..810734463 */
  height: 41px; 
  background: url('./nosaj.svg') no-repeat;
  background-size: 100% auto;
  margin: 0 auto 10px;
}

.estimate-head,
.estimate-from-to {
  margin-bottom: 30px;
  overflow: auto;
  zoom: 1;
}

.estimate-from-to { margin-bottom: 40px }

  .estimate-head__topline {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .estimate-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #2e2ef9;
  }

.estimate-from-to {
  font-size: 16px;
  overflow: hidden;
}

  .estimate-from-to h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8b8b8b;
  }

  .estimate-from-to .estimate-from {
    width: 40%;
    float: left;
  }

  .estimate-from-to .estimate-to {
    width: 40%;
    float: right;
    text-align: right;
  }

  .estimate-from-name,
  .estimate-to-name { font-weight: 700; }

  .estimate-from-email,
  .estimate-to-email {  }

.estimate-body {
  margin-bottom: 50px;
}

.estimate-work-head {
  width: 100%;
  margin-bottom: 30px;

  border-bottom: 3px solid black;
}

.estimate-work-head h2 {
  display: inline-block;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  background: white;
  transform: translateY(50%);
}

.estimate-task {
  margin-bottom: 30px;
}

.estimate-task__head {
  overflow: auto;
  zoom: 1;
}

.estimate-task__head h1 {
  float: left;
  font-size: 16px;
  color: #2e2ef9;
}

.task-hours {
  display: block;
  padding: 4px 15px;
  float: right;
  font-size: 14px;
  background: #ececec;
}

.estimate-task__description {
  margin-top: 10px;
  font-size: 14px;
  width: 77%;
  margin-right: auto;
}


.estimate-totals {
  display: block;
}

  .total__label,
  .total__quantity {
    display: block;
    width: 40%;
    float: left;
    font-size: 16px;
    text-align: right;
  }

  .total__quantity {
    width: 60%;
    font-size: 28px;
    font-weight: 700;
  }

  .total-hours,
  .total-cost {
    margin-left: auto;
    overflow: auto;
    zoom: 1;
    width: 45%;
  }

  .total-cost { margin-top: 20px; }

.sub {
  font-size: 15px;
  display: block;
  font-weight: 400;
}

.estimate-foot {
  display: block;
  margin-top: 50px;
  color: rgb(107, 107, 107);
  text-align: center;
  width: 100%;
  font-size: 15px;
}
