<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contract</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./assets/contract.css" media="all">
  </head>
  <body>
    <header class="contract-head">
      <div class="contract-head__topline">
        From the desk of Jason Howmans. Created {{date}}.
      </div>
      <h1 class="contract-title">{{title}}</h1>
    </header>

    <div class="contract-from-to">
      <div class="contract-from">
        <h3>Between</h3>
        <p class="contract-from-name">{{from.human}}</p>
        {{#from.isCompany}}
          <p class="contract-from-name">{{from.company}}</p>
        {{/from.isCompany}}
        <p class="contract-from-email">{{from.email}}</p>
      </div>
      <div class="contract-to">
        <h3>And</h3>
        <p class="contract-to-name">{{to.human}}</p>
        {{#to.isCompany}}
          <p class="contract-to-name">{{to.company}}</p>
        {{/to.isCompany}}
        <p class="contract-to-email">{{to.email}}</p>
      </div>
    </div>
    <div class="contract-body">
      {{{bodyHTML}}}
    </div>
    <footer class="contract-signatures">
      <div class="signature-party">
        {{#from.isCompany}}
          <p>Signed by and on behalf of <strong>{{from.company}}:</strong></p>
        {{/from.isCompany}}
        {{#from.notCompany}}
          <p>Signed by and on behalf of <strong>{{from.human}}:</strong></p>
        {{/from.notCompany}}
        <p class="dots">{{dottedline}}</p>
      </div>
      <div class="signature-party">
        {{#to.isCompany}}
          <p>Signed by and on behalf of <strong>{{to.company}}:</strong></p>
        {{/to.isCompany}}
        {{#to.notCompany}}
          <p>Signed by and on behalf of <strong>{{to.human}}:</strong></p>
        {{/to.notCompany}}
        <p class="dots">{{dottedline}}</p>
      </div>
    </footer>
  </body>
</html>
